[project]
name = "bot-app"
version = "0.1.0"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]

[project.scripts]
bot = "app.main:main"
cli = "app.cli:main"
